
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Lato', sans-serif, 'Noto Sans Georgian', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}


/*section header*/
.nav
{
    width: 100%;
    height: 85px;
    background: #FFF;

}
.nav-wrap
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 17px 0;

}

.navigation-link
{
    font-size: 24px;
}

.nav__ul {
    list-style-type: none;
    display: flex;
    gap: 7rem;
}

.nav__link {
    text-decoration: none;
    color: #292929;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button-nav__1
{
    border: none;
    background-color: transparent;
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    padding: 13px 50px;
}
.button-nav__2
{
    border-radius: 4px;
    border: 1px solid #01996D;
    background: #01996D;
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    cursor: pointer;
    padding: 13px 50px;
}
/*img*/
.wrap-img {
    width: 100%;
    height: 895px;
    background-image: url(../img/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrap-img__text
{
    max-width: 440px;
    width: 100%;
    height: 100%;

    margin-left: 275px;
    padding-top: 175px;
}
.wrap-img h1 {
    font-size: 65px;
    font-weight: bold;
    font-family: 'Noto Sans Georgian', sans-serif;
    color: #01996D;
}

.wrap-img p {
    font-size: 20px;
    max-width: 420px;


    color: #484848;

}
.wrap-img .button {
    border-radius: 4px;
    background: #01996D;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */

    padding: 20px 40px;
}


/* main*/
/*section cards*/
section[cards]
{
    max-width: 141.3rem;
    width: 100%;
    /*margin: 0 232px 51px 275px;*/
    /*padding: 0 15px;*/
}

section[cards] .title {
    color: #424242;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 157%; /* 37.68px */
}

section[cards] .title-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13.6rem;
}

section[cards] .title-text h2 {
    color: #01996D;
    font-family: 'Noto Sans Georgian', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 157%; /* 78.5px */
    word-break: break-all;


}

section[cards] .title-text p {
    color: #424242;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    word-break: break-all;

    max-width: 60rem;
    width: 100%;
}




/**/
.cards {
    display: flex;
    gap: 9.5rem;
}

.card {
    max-width: 390px;
    width: 100%;
    height: 100%;
    position: relative;
}
.card .card__title
{
    color: rgba(1, 153, 109, 0.20);
    text-align: center;
    font-family: 'Noto Sans Georgian', sans-serif;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 225px */
    position: absolute;
    top: -20rem;
    left: 0;


}
.card .card__title_text
{
    color: #000;
    text-align: center;
    font-family: 'Noto Sans Georgian', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    /*line-height: 150%; !* 45px *!*/
    position: absolute;
    top: 3rem;
    left: 9rem;
}

.card .card__text
{
    color: #424242;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    margin: 13rem auto 6rem;
}

.card .card-image
{
    position: relative;

}

.card-image img {
    position: absolute;
}

.card-image .image {
    top: 22.5rem;
    left: 20.5rem;
}



/*section footer*/
.footer {
    background-color: #245852;
    padding: 95px 0;
}

.footer .logo {
    margin-bottom: 60px;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.footer ul li a {
    color: white;
    font-size: 25px;

    text-decoration: none;
}

.footer ul li a:hover {
    opacity: 0.8;
}

.footer ul li {
    margin-bottom: 60px;
}

.footer ul li:last-child {
    margin-bottom: 0;
}
